#sidebar{
    height:100%;
    width:20%;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
}

.sidebar_row{
    display:flex;
    flex-direction:row;
    align-items: center;
    height:9vi;
    border:1px solid grey;
}


.imageCont{
    height:85%;
    width:30%;
}
img{
    width:100%;
    height:100%;
    border-radius: 0;
}
.event{
    font-size: 1vi;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:70%;
    text-decoration: none;
    color:black;
}
.event:hover{
    text-decoration:underline;
}

.UFC{
    content:url("./images/ufc.jpg")
}
.ONE{
    content:url("./images/one.jpg")   
}
.Bellator{
    content:url("./images/bellator.jpg")
}

.IBF{
    content:url("./images/ibf.jpeg")
}
.WBO{
    content:url("./images/wbo.jpeg")
}
.WBC{
    content:url("./images/wbc.jpg")
}
.WBA{
    content:url("./images/wba.jpg")
}
.judo{
    content:url("./images/judo.jpg")
}
.adcc{
    content:url("./images/adcc.jpeg")
}
.ibjjf{
    content:url("./images/ibjjf.jpg")
}
